<!DOCTYPE html>

<html>
    <head>
        <title>
            BMI CALCULATOR WEBSITE
        </title>
    </head>
    
   
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

   
  <link rel="stylesheet" href="{{url_for('static',filename='css/bmi.css')}}">



<body style="background-color:#CFF5E7 ;">

<div class="bmi">


<h1 style="text-align: center; color: #0D4C92"> BMI CALCULATOR</h1>
<br>
<form method="POST" class="pure-form" action="/">
    Enter your Weight
<input style="margin: 20px;" type="text" name="weight" placeholder="In kilograms">
<br style="width: 5px;">
Enter your Height
<input type="text" style="margin: 20px;" name="height" placeholder="In meters">

<br style="width: 5px;">
<button  class="pure-button pure-button-active" value="submit">Calculate BMI</button>

</form>


</div>

<div class="result" >

{% if height %}
<p style="color: #EB6440;"><b>Your BMI is {{bmi}}</b></p>
{% endif %}
{% if bmi %}
{% if bmi <= 18.5 %}  
    Oops! You are underweight.
{% elif bmi <= 24.9 %}  
   Awesome! You are healthy
{% elif bmi <= 29.9 %}  
   Eee! You are over weight
{% else %}  
    Seesh! You are obese 

    {% endif %}

{% endif %}
</div>


</body>

</html>